body {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    background-color: hsl(0, 0%, 15%);
    height: 12vh;
}

a {
    text-decoration: none;
    font-size: 18px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
}

.type {
    color: white;
    font-size: 16px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(178, 165, 165, 0.534);
    font-size: 15px;
    transform: translate(0%, 45%);
}

.wifi {
    margin-top: 200px;
    padding: 43px;
    width: 300px;
    transform: translate(120%, -50%);
    border: 2px solid white;
    border-radius: 15%;
}

.type2 {
    padding: 5px;
    width: 280px;
    border-radius: 10px;
    border: none;
    transform: translate(0%, -10%);
    background-color: white;
    color: black;
    height: 0%;
}

input {
    margin: 5px;
    font-size: 18px;
    display: inline-block;
    transform: translate(0%, 25%);
    height: 35px;
    width: 120px;
    font-weight: bold 5px;
    background-color: hsl(0, 0%, 40%);
    border-radius: 5px;
    border: none;
    color: rgba(176, 172, 172, 0.581);
}

.body1 {
    margin: 2px;
    grid-template-columns: repeat(2, 1fr);
}

a:hover {
    box-shadow: 0 1px 8px 0 #2c1fbaa7;
    border-color: #0e084fa7;
}

img:hover {
    box-shadow: 0 1px 8px 0 #b40808a7;
    border-color: #4f0808a7;
}

.type2:hover {
    box-shadow: 1px 6px #ff5500f8;
    border: none;
}

input:hover {
    border: 2px solid hsl(0, 0%, 80%);
    color: black;
}
