body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: darkslateblue;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

.head {
    text-align: end;
    background-color: aquamarine;
    border: 5px solid hotpink;
}

.head h2 {
    margin: 10px;
    text-align: start;
}

.head a {
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
}

h3 {
    margin: 10%;
    transform: translate(10%);
    font-size: 2rem;
}

.body1 {
    border: 5px solid antiquewhite;
    background-color: rgb(110, 210, 210);
}

p {
    font-size: 20px;
    transform: translate(18%, -380%);
}

.body2 {
    border: 5px solid chocolate;
    background-color: blueviolet;
}

li {
    font-size: 20px;
    transform: translate(18%, -380%);
}

.body3 {
    border: 5px solid fuchsia;
    background-color: dodgerblue;
}