body {
    font-family: "Roboto", sans-serif;
    background-color: azure;
}

h3 {
    text-align: center;
    font-size: 10rem;
    color: #710;
    border: 3cm solid #bbb;
    background-color: aquamarine;
    padding: 30px;
    margin: 100px;
}